
   body{
    background-color: rgb(218, 204, 255);
    font-family:cursive;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;}
   
   .cabeçalho-pezalho{background-color: rgb(184, 185, 255);
        margin: 0px;
   }
    header{
        text-align: center;
    }

    #titulo{
        margin-top: 0px;
        padding-top: 2%;
        animation-name:piscar;
        animation-duration: 5s;
    }

nav ul{list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;}
    
    nav ul li:hover{color: rgba(255, 255, 255, 0.603);
    font-size: 40px;
    cursor: pointer;}

 #titulos{text-align: center;}

img{width: 500px;
float: left;
margin: 20px;}

#color{color: rgb(255, 255, 255);}

@keyframes piscar{

    
0%{color: rgb(255, 255, 255);}
10%{color: rgb(219, 223, 255);}
20%{color: rgb(186, 182, 255);}
30%{color: rgb(134, 132, 247);}
60%{color: rgb(114, 111, 250);}
80%{color: rgb(104, 63, 253);}
100%{color: rgb(255, 255, 255);}
}